ruby:
  guides = sitemap.resources.select { |r| r.path.start_with?(current_page.data["path"]) && r.path.end_with?("html") }

= wrap_layout :layout_js do

  section.guide
    article      
      - guides.sort_by { |g| g.data["order"] }.each_slice(2) do |g|
        div style='display: flex; flex-flow:row;'
          div.guide-blurb style='flex:1;'
            h2 
              a href= ("/" + g[0].path) == g[0].data["title"]
            p style="width: 60%" == g[0].data["blurb"]

          - if g[1]
            div.guide-blurb style='flex:1;'
              h2 
                a href= ("/" + g[1].path) == g[1].data["title"]
              p style="width: 60%" == g[1].data["blurb"]

      == yield
