---
title: Danger - Getting Set Up
subtitle: Tutorials
layout: guide_index
path: "js/tutorials/"
---

markdown:
  ### External Tutorials
  - ["Don’t be the bad cop in pull request reviews  —  Let software do that job"](https://medium.com/@mikenikles/dont-be-the-bad-cop-in-pull-request-reviews-let-software-do-that-job-1eb9e574c2d1)
